* {
    padding: 0;
    margin: 30px;
    background colour: lightgrey;
    font-size: larger;
}

.container {
    margin-left: 0px;
    margin-top: 10px;
}

img {
    text-indent: 0px;
}

.logo {
    align-items: center;
}

form {
    text-align: start;
    display: flow-root;
    font-size: 40px;
}

.About {
    line-height: 40px;
}
