* {
    padding: 0;
    margin: 30px;
    background-color: lightgrey;
    font-size: large;
}

.container {
    margin: 0px;
    align-items: center;
}

.logo {
    align-items: center;
}

form {
    text-align: start;
    display: block;
    font-size: medium;
}

.About {
    line-height: 40px;
}
